<app-header-patient></app-header-patient>

<div class="row pt-3">
  <div class="col-md-2 mx-5 pt-3">
    <!-- Espacio para la imagen del perfil -->
    <img src="../../../../assets/hombre.png" class="img-fluid w-100" alt="">
  </div>
  <div class="col-md-9 pt-5">
    <form >
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="primerNombre">Primer Nombre</label>
            <input type="text" class="form-control" id="primerNombre" [(ngModel)]="primerNombre" name="primerNombre">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="segundoNombre">Segundo Nombre</label>
            <input type="text" class="form-control" id="segundoNombre" [(ngModel)]="segundoNombre" name="segundoNombre">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="primerApellido">Primer Apellido</label>
            <input type="text" class="form-control" id="primerApellido" [(ngModel)]="primerApellido" name="primerApellido">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="segundoApellido">Segundo Apellido</label>
            <input type="text" class="form-control" id="segundoApellido" [(ngModel)]="segundoApellido" name="segundoApellido">
          </div>
        </div>
      </div>
      <div class="row pt-3 pt-5">
        <div class="col text-center">
          <button type="submit" class="btn btn-success btn-custom text-dark">Actualizar Datos</button>
        </div>
      </div>
    </form>
  </div>
</div>
