<div class="row">
  <div class="col-3  bg-dark text-light pt-2 cursor-pointer" routerLink="">
    <span class="d-block"><i>Salud Intercomunicada</i></span>
    <small class="d-block mx-3 mb-2 text-sm"><i>al alcance de unos pocos clics</i></small>
  </div>
  <div class="col-6  pt-2 header-custom text-center">
    <h4>Modulo de ingreso Salud Intercomunidad!</h4>
  </div>
  <div class="col-3  pt-2 header-custom text-center">
    <button type="button" class="btn btn-success  btn-custom mx-3 float-end text-dark" value="registrarse" routerLink="/login">Iniciar Sesión</button>
  </div>
</div>

<div class="row pt-2">
  <div class="col-12 d-flex align-items-center justify-content-center">
    <form class="p-5 form-custom-register" [formGroup]="loginForm" (ngSubmit)="submitForm()">
      <div class="row mb-3 pt-4">
        <div class="col-md-6">
          <label for="primerNombre" class="form-label">Primer Nombre</label>
          <input type="text" class="form-control w-100" id="primerNombre" placeholder="Ingresa tu primer nombre" formControlName="primerNombre">
          <div *ngIf="loginForm.get('primerNombre')?.invalid && (loginForm.get('primerNombre')?.dirty || loginForm.get('primerNombre')?.touched)" class="text-danger">
          <div *ngIf="loginForm.get('primerNombre')?.errors?.['required']">Primer nombre es requerido.</div>
          </div>
        </div>
        <div class="col-md-6">
          <label for="segundoNombre" class="form-label">Segundo Nombre</label>
          <input type="text" class="form-control w-100" id="segundoNombre" placeholder="Ingresa tu segundo nombre" formControlName="segundoNombre">
        </div>
      </div>
      <div class="row mb-3 pt-4">
        <div class="col-md-6">
          <label for="primerApellido" class="form-label">Primer Apellido</label>
          <input type="text" class="form-control w-100" id="primerApellido" placeholder="Ingresa tu primer apellido" formControlName="primerApellido">
          <div *ngIf="loginForm.get('primerApellido')?.invalid && (loginForm.get('primerApellido')?.dirty || loginForm.get('primerApellido')?.touched)" class="text-danger">
          <div *ngIf="loginForm.get('primerApellido')?.errors?.['required']">Primer apellido es requerido.</div>
          </div>
        </div>
        <div class="col-md-6">
          <label for="segundoApellido" class="form-label">Segundo Apellido</label>
          <input type="text" class="form-control w-100" id="segundoApellido" placeholder="Ingresa tu segundo apellido" formControlName="segundoApellido">
        </div>
      </div>
      <div class="row mb-3 pt-4">
        <div class="col-md-6">
          <label for="numeroDocumento" class="form-label">Número de Documento</label>
          <input type="text" class="form-control w-100" id="numeroDocumento" placeholder="Ingresa tu número de documento" formControlName="numeroDocumento">
          <div *ngIf="loginForm.get('numeroDocumento')?.invalid && (loginForm.get('numeroDocumento')?.dirty || loginForm.get('numeroDocumento')?.touched)" class="text-danger">
            <div *ngIf="loginForm.get('numeroDocumento')?.errors?.['required']">Número de documento es requerido.</div>
          </div>
        </div>
        <div class="col-md-6">
          <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento</label>
          <input type="date" class="form-control w-100" id="fechaNacimiento" formControlName="fechaNacimiento">
        </div>
      </div>
      <div class="row mb-3 pt-4">
        <div class="col-md-6">
          <label for="correo" class="form-label">Correo Electrónico</label>
          <input type="email" class="form-control w-100" id="correo" placeholder="Ingresa tu correo electrónico" formControlName="correo">
          <div *ngIf="loginForm.get('correo')?.invalid && (loginForm.get('correo')?.dirty || loginForm.get('correo')?.touched)" class="text-danger">
            <div *ngIf="loginForm.get('correo')?.errors?.['required']">Correo electrónico es requerido.</div>
            <div *ngIf="loginForm.get('correo')?.errors?.['email']">Ingresa un correo electrónico válido.</div>
          </div>
        </div>
        <div class="col-md-6">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" class="form-control w-100" id="password" placeholder="Ingresa tu contraseña" formControlName="password">
          <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)" class="text-danger">
            <div *ngIf="loginForm.get('password')?.errors?.['required']">Contraseña es requerida.</div>
            <div *ngIf="loginForm.get('password')?.errors?.['minlength']">La contraseña debe tener al menos 8 caracteres.</div>
          </div>
        </div>
      </div>
      <div class="text-center pt-4">
        <button type="submit" class="btn btn-success btn-custom text-dark" [disabled]="loginForm.invalid">Registrarse</button>
      </div>
    </form>
  </div>
</div>
<router-outlet></router-outlet>
