<div class="row">
  <div class="col-3  bg-dark text-light pt-2 cursor-pointer">
      <span class="d-block"><i>Salud Intercomunicada</i></span>
      <small class="d-block mx-3 mb-2 text-sm"><i>al alcance de unos pocos clics</i></small>
  </div>
  <div class="col-6  pt-2 header-custom text-center">
        <h4>Modulo de ingreso Salud Intercomunidad!</h4>
  </div>
  <div class="col-3  pt-2 header-custom text-center">
    <button type="button" class="btn btn-success  btn-custom mx-3 float-end text-dark" value="registrarse">Iniciar Sesión</button>
  </div>
</div>


<div class="row pt-2">
  <div class="col-12 d-flex align-items-center justify-content-center">
    <form class="p-5 form-custom-register">
      <div class="row mb-3 pt-4">
        <div class="col-md-6">
          <label for="primerNombre" class="form-label">Primer Nombre</label>
          <input type="text" class="form-control w-100" id="primerNombre" placeholder="Ingresa tu primer nombre">
        </div>
        <div class="col-md-6">
          <label for="segundoNombre" class="form-label">Segundo Nombre</label>
          <input type="text" class="form-control w-100" id="segundoNombre" placeholder="Ingresa tu segundo nombre">
        </div>
      </div>
      <div class="row mb-3 pt-4">
        <div class="col-md-6">
          <label for="primerApellido" class="form-label">Primer Apellido</label>
          <input type="text" class="form-control w-100" id="primerApellido" placeholder="Ingresa tu primer apellido">
        </div>
        <div class="col-md-6">
          <label for="segundoApellido" class="form-label">Segundo Apellido</label>
          <input type="text" class="form-control w-100" id="segundoApellido" placeholder="Ingresa tu segundo apellido">
        </div>
      </div>
      <div class="row mb-3 pt-4">
        <div class="col-md-6">
          <label for="numeroDocumento" class="form-label">Número de Documento</label>
          <input type="text" class="form-control w-100" id="numeroDocumento" placeholder="Ingresa tu número de documento">
        </div>
        <div class="col-md-6">
          <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento</label>
          <input type="date" class="form-control w-100" id="fechaNacimiento">
        </div>
      </div>
      <div class="row mb-3 pt-4">
        <div class="col-md-6">
          <label for="correo" class="form-label">Correo Electrónico</label>
          <input type="email" class="form-control w-100" id="correo" placeholder="Ingresa tu correo electrónico">
        </div>
        <div class="col-md-6">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" class="form-control w-100" id="password" placeholder="Ingresa tu contraseña">
        </div>
      </div>
      <div class="text-center pt-4">
        <button type="submit" class="btn btn-success btn-custom text-dark">Registrarse</button>
      </div>
    </form>
  </div>
</div>
