
<auth-header></auth-header>

<div class="container">
  <div class="row">
    <h2 class="col-6">Inicio de sesión</h2>
  </div>
  <form class="row">
    <div class="col-7 col-offset-4">
      <div class="col-3">
        <input pInputText id="username"class="w-full" placeholder="correo electronico" />
      </div>
      <p-password  id="password" [toggleMask]="true" class="col-4 w-full" placeholder="contraseña"></p-password>
      <p-button label="Iniciar Sesión"class="col-4"></p-button>
    </div>
  </form>
</div>
