
<div class="row">
  <div class="col-3  bg-dark text-light pt-2 cursor-pointer">
      <span class="d-block"><i>Salud Intercomunicada</i></span>
      <small class="d-block mx-3 mb-2 text-sm"><i>al alcance de unos pocos clics</i></small>
  </div>
  <div class="col-9  pt-2 header-custom">
        <button type="button" class="btn btn-success btn-custom mx-3 float-end text-dark" value="iniciar sesion">iniciar sesion</button>
        <button type="button" class="btn btn-success  btn-custom mx-3 float-end text-dark" value="registrarse">Registrarse</button>
  </div>
</div>
