<div class="grid">
  <div class="col-2 surface-900 cursor-pointer">
    <div class="grid">
      <span class="text-white mx-2 pt-1  text-lg"><i>Salud Intercomunicada</i></span>
      <small class="text-white mx-3 text-base"><i>al alcance de unos pocos clics</i></small>
    </div>
  </div>
  <div class="col-10 bg-cyan-400">
    <div class="grid justify-content-end p-2">
        <input type="button" value="iniciar sesion"
                class="col-2
                      bg-green-500
                      border-round-md
                      border-green-500
                      border-solid
                      text-white mx-2
                      cursor-pointer
                      hover:bg-green-700
                      hover:border-green-700
                      text-base
                      font-bold
                      shadow-3">
        <input type="button" value="registrarse"
                class="col-2 bg-green-500
                      border-round-md
                      border-green-500
                      border-solid
                      text-white
                      cursor-pointer
                      hover:bg-green-600
                      hover:border-green-600
                      mx-4
                      text-base
                      font-bold
                      shadow-3">
      </div>
  </div>
</div>
